# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [4]:
# Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [6]:
# Upload credit_card_transactions.csv to Colab
from google.colab import files

csv_file = files.upload()

Saving applicants_data.csv to applicants_data (1).csv

In [7]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv(Path('./applicants_data.csv'))

# Review the DataFrame
applicant_data_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [8]:
# Review the data types associated with the columns
applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [9]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(columns=['EIN','NAME'])

# Review the DataFrame
applicant_data_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [10]:
# Create a list of categorical variables 
categorical_variables = applicant_data_df.select_dtypes(include = [object]).keys()

# Display the categorical variables list
applicant_data_df[categorical_variables].dtypes

APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
dtype: object

In [11]:
# Create a OneHotEncoder instance
enc = OneHotEncoder()

In [12]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables]).toarray()
encoded_data

array([[1., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       ...,
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.]])

In [13]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(encoded_data, index=applicant_data_df.index)

# Review the DataFrame
encoded_df

,0,1,2,3,4,5,6,7,8,9,...,104,105,106,107,108,109,110,111,112,113
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [14]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
encoded_df = pd.concat([applicant_data_df.drop(columns=categorical_variables), encoded_df], axis=1)

# Review the Dataframe
encoded_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,0,1,2,3,4,5,6,...,104,105,106,107,108,109,110,111,112,113
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,1,36500179,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [15]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df['IS_SUCCESSFUL']

# Display a sample of y
y

0        1
1        1
2        0
3        1
4        1
        ..
34294    0
34295    0
34296    0
34297    1
34298    0
Name: IS_SUCCESSFUL, Length: 34299, dtype: int64

In [17]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.drop(columns='IS_SUCCESSFUL')

# Review the features DataFrame
X.head()

,STATUS,ASK_AMT,0,1,2,3,4,5,6,7,...,104,105,106,107,108,109,110,111,112,113
0,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 6: Split the features and target sets into training and testing datasets.

In [21]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [24]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [25]:
# Define the the number of inputs (features) to the model
number_input_features = 116

# Review the number of features
number_input_features

116

In [26]:
# Define the number of neurons in the output layer
number_output_neurons = 1

In [27]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 = 180

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

180

In [28]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 = 60

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

60

In [29]:
# Create the Sequential model instance
nn = Sequential()

In [30]:
# Add the first hidden layer
nn.add(Dense(units=hidden_nodes_layer1, activation="relu", input_dim=number_input_features))

In [31]:
# Add the second hidden layer
nn.add(Dense(units=hidden_nodes_layer2, activation="relu"))#activation="swish"))

In [32]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units=number_output_neurons, activation="sigmoid"))

In [33]:
# Display the Sequential model summary
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 180)               21060

 dense_1 (Dense)             (None, 60)                10860

 dense_2 (Dense)             (None, 1)                 61

=================================================================
Total params: 31,981
Trainable params: 31,981
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [34]:
# Compile the Sequential model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [35]:
# Fit the model using 50 epochs and the training data
model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5702 - accuracy: 0.7232
Epoch 2/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5519 - accuracy: 0.7308
Epoch 3/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5489 - accuracy: 0.7321
Epoch 4/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5466 - accuracy: 0.7312
Epoch 5/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5445 - accuracy: 0.7341
Epoch 6/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5443 - accuracy: 0.7341
Epoch 7/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5434 - accuracy: 0.7346
Epoch 8/50
804/804 [==============================] - 4s 4ms/step - loss: 0.5429 - accuracy: 0.7346
Epoch 9/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5418 - accuracy: 0.7362
Epoch 10/50
804/804 [==============================] - 4s 4ms/step - loss: 0.5415 - accuracy: 0.7367
Epoch 11/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5408 - accuracy: 0.7371
Epoch 12/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5402 - accuracy: 0.7367
Epoch 13/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5399 - accuracy: 0.7383
Epoch 14/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5391 - accuracy: 0.7375
Epoch 15/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5380 - accuracy: 0.7385
Epoch 16/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5384 - accuracy: 0.7383
Epoch 17/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5379 - accuracy: 0.7386
Epoch 18/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5376 - accuracy: 0.7390
Epoch 19/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5373 - accuracy: 0.7394
Epoch 20/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5362 - accuracy: 0.7379
Epoch 21/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5367 - accuracy: 0.7386
Epoch 22/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5359 - accuracy: 0.7390
Epoch 23/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5358 - accuracy: 0.7392
Epoch 24/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5352 - accuracy: 0.7398
Epoch 25/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5359 - accuracy: 0.7398
Epoch 26/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5355 - accuracy: 0.7404
Epoch 27/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5349 - accuracy: 0.7392
Epoch 28/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5346 - accuracy: 0.7402
Epoch 29/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5342 - accuracy: 0.7401
Epoch 30/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5339 - accuracy: 0.7404
Epoch 31/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5337 - accuracy: 0.7405
Epoch 32/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5333 - accuracy: 0.7404
Epoch 33/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5336 - accuracy: 0.7400
Epoch 34/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5338 - accuracy: 0.7406
Epoch 35/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5335 - accuracy: 0.7403
Epoch 36/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5330 - accuracy: 0.7407
Epoch 37/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5328 - accuracy: 0.7406
Epoch 38/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5327 - accuracy: 0.7408
Epoch 39/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5333 - accuracy: 0.7408
Epoch 40/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5322 - accuracy: 0.7404
Epoch 41/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5324 - accuracy: 0.7407
Epoch 42/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5317 - accuracy: 0.7404
Epoch 43/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5323 - accuracy: 0.7411
Epoch 44/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5321 - accuracy: 0.7406
Epoch 45/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5319 - accuracy: 0.7411
Epoch 46/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5319 - accuracy: 0.7409
Epoch 47/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5320 - accuracy: 0.7406
Epoch 48/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5313 - accuracy: 0.7417
Epoch 49/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5317 - accuracy: 0.7414
Epoch 50/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5318 - accuracy: 0.7414

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [37]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5615 - accuracy: 0.7300 - 443ms/epoch - 2ms/step
Loss: 0.5615237951278687, Accuracy: 0.7300291657447815

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [39]:
# Set the model's file path
file_path = Path('./AlphabetSoup.h5')

# Export your model to a HDF5 file
nn.save_weights(file_path)

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [40]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [41]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 1

In [42]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = 60

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

60

In [43]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [44]:
# First hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer1_A1, activation="relu", input_dim=number_input_features))


# Output layer
nn_A1.add(Dense(units=number_output_neurons_A1, activation="sigmoid"))


# Check the structure of the model
nn_A1.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 60)                7020

 dense_4 (Dense)             (None, 1)                 61

=================================================================
Total params: 7,081
Trainable params: 7,081
Non-trainable params: 0
_________________________________________________________________

In [46]:
# Compile the Sequential model
nn_A1.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [47]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5854 - accuracy: 0.7172
Epoch 2/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5576 - accuracy: 0.7284
Epoch 3/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5530 - accuracy: 0.7291
Epoch 4/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5512 - accuracy: 0.7303
Epoch 5/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5500 - accuracy: 0.7304
Epoch 6/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5487 - accuracy: 0.7320
Epoch 7/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5478 - accuracy: 0.7324
Epoch 8/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5468 - accuracy: 0.7336
Epoch 9/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5468 - accuracy: 0.7317
Epoch 10/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5459 - accuracy: 0.7324
Epoch 11/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5452 - accuracy: 0.7329
Epoch 12/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5454 - accuracy: 0.7333
Epoch 13/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5445 - accuracy: 0.7331
Epoch 14/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5441 - accuracy: 0.7336
Epoch 15/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5438 - accuracy: 0.7340
Epoch 16/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5439 - accuracy: 0.7337
Epoch 17/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5430 - accuracy: 0.7342
Epoch 18/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5433 - accuracy: 0.7334
Epoch 19/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5427 - accuracy: 0.7340
Epoch 20/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5427 - accuracy: 0.7339
Epoch 21/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5419 - accuracy: 0.7351
Epoch 22/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5418 - accuracy: 0.7343
Epoch 23/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5421 - accuracy: 0.7334
Epoch 24/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5422 - accuracy: 0.7352
Epoch 25/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5417 - accuracy: 0.7344
Epoch 26/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5408 - accuracy: 0.7354
Epoch 27/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5408 - accuracy: 0.7346
Epoch 28/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5411 - accuracy: 0.7345
Epoch 29/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5405 - accuracy: 0.7352
Epoch 30/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5403 - accuracy: 0.7358
Epoch 31/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5409 - accuracy: 0.7352
Epoch 32/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5405 - accuracy: 0.7359
Epoch 33/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5401 - accuracy: 0.7359
Epoch 34/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5402 - accuracy: 0.7363
Epoch 35/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5396 - accuracy: 0.7358
Epoch 36/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5397 - accuracy: 0.7348
Epoch 37/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5393 - accuracy: 0.7361
Epoch 38/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5393 - accuracy: 0.7359
Epoch 39/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5397 - accuracy: 0.7364
Epoch 40/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5394 - accuracy: 0.7364
Epoch 41/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5397 - accuracy: 0.7370
Epoch 42/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5384 - accuracy: 0.7373
Epoch 43/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5383 - accuracy: 0.7359
Epoch 44/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5391 - accuracy: 0.7371
Epoch 45/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5388 - accuracy: 0.7379
Epoch 46/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5389 - accuracy: 0.7365
Epoch 47/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5388 - accuracy: 0.7355
Epoch 48/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5386 - accuracy: 0.7369
Epoch 49/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5380 - accuracy: 0.7375
Epoch 50/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5387 - accuracy: 0.7368

#### Alternative Model 2

In [48]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [49]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 1

In [50]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = 30

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

30

In [51]:
# Create the Sequential model instance
nn_A2 = Sequential()

In [52]:
# First hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer1_A2, activation="relu", kernel_initializer='he_uniform', input_dim=number_input_features))

# Output layer
nn_A2.add(Dense(units=number_output_neurons_A2, activation="sigmoid"))

# Check the structure of the model
nn_A2.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_5 (Dense)             (None, 30)                3510

 dense_6 (Dense)             (None, 1)                 31

=================================================================
Total params: 3,541
Trainable params: 3,541
Non-trainable params: 0
_________________________________________________________________

In [53]:
# Compile the model
nn_A2.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [54]:
# Fit the model
fit_model_A2 = nn_A2.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5953 - accuracy: 0.7145
Epoch 2/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5609 - accuracy: 0.7278
Epoch 3/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5542 - accuracy: 0.7293
Epoch 4/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5519 - accuracy: 0.7301
Epoch 5/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5496 - accuracy: 0.7312
Epoch 6/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5487 - accuracy: 0.7298
Epoch 7/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5479 - accuracy: 0.7309
Epoch 8/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5477 - accuracy: 0.7319
Epoch 9/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5468 - accuracy: 0.7322
Epoch 10/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5466 - accuracy: 0.7322
Epoch 11/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5457 - accuracy: 0.7325
Epoch 12/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5460 - accuracy: 0.7331
Epoch 13/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5451 - accuracy: 0.7339
Epoch 14/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5452 - accuracy: 0.7317
Epoch 15/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5446 - accuracy: 0.7329
Epoch 16/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5439 - accuracy: 0.7337
Epoch 17/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5441 - accuracy: 0.7341
Epoch 18/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5436 - accuracy: 0.7336
Epoch 19/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5438 - accuracy: 0.7332
Epoch 20/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5429 - accuracy: 0.7336
Epoch 21/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5428 - accuracy: 0.7340
Epoch 22/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5430 - accuracy: 0.7332
Epoch 23/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5428 - accuracy: 0.7330
Epoch 24/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5422 - accuracy: 0.7338
Epoch 25/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5423 - accuracy: 0.7344
Epoch 26/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5418 - accuracy: 0.7358
Epoch 27/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5419 - accuracy: 0.7346
Epoch 28/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5417 - accuracy: 0.7343
Epoch 29/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5415 - accuracy: 0.7349
Epoch 30/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5412 - accuracy: 0.7349
Epoch 31/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5408 - accuracy: 0.7349
Epoch 32/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5408 - accuracy: 0.7360
Epoch 33/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5406 - accuracy: 0.7360
Epoch 34/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5409 - accuracy: 0.7356
Epoch 35/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5402 - accuracy: 0.7366
Epoch 36/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5402 - accuracy: 0.7364
Epoch 37/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5403 - accuracy: 0.7356
Epoch 38/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5402 - accuracy: 0.7350
Epoch 39/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5397 - accuracy: 0.7355
Epoch 40/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5399 - accuracy: 0.7370
Epoch 41/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5399 - accuracy: 0.7344
Epoch 42/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5401 - accuracy: 0.7360
Epoch 43/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5397 - accuracy: 0.7355
Epoch 44/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5394 - accuracy: 0.7357
Epoch 45/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5394 - accuracy: 0.7365
Epoch 46/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5390 - accuracy: 0.7358
Epoch 47/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5392 - accuracy: 0.7367
Epoch 48/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5392 - accuracy: 0.7366
Epoch 49/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5390 - accuracy: 0.7366
Epoch 50/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5384 - accuracy: 0.7364

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [55]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(
    X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 - 0s - loss: 0.5615 - accuracy: 0.7300 - 336ms/epoch - 1ms/step
Loss: 0.5615237951278687, Accuracy: 0.7300291657447815

In [56]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(
    X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
268/268 - 0s - loss: 0.5568 - accuracy: 0.7310 - 404ms/epoch - 2ms/step
Loss: 0.5568130612373352, Accuracy: 0.7309620976448059

In [57]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(
    X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
268/268 - 0s - loss: 0.5590 - accuracy: 0.7313 - 406ms/epoch - 2ms/step
Loss: 0.5590009689331055, Accuracy: 0.7313119769096375

### Step 3: Save each of your alternative models as an HDF5 file.

In [58]:
# Set the file path for the first alternative model
file_path = Path('./AlphabetSoup2.h5')

# Export your model to a HDF5 file
nn_A1.save_weights(file_path)

In [59]:
# Set the file path for the second alternative model
file_path = Path('./AlphabetSoup3.h5')

# Export your model to a HDF5 file
nn_A2.save_weights(file_path)